body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.headerlogo {
    margin: 5px 30px;
    color: white;
    margin-left: 200px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.sectionone {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    background-color: #1F2937;
}

h1 {
    font-weight: 1000;
}

.text1 {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    width: 350px;
}

.signupbutton {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    width: 100px;
}

.placeholder1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 0px 100px;
    margin-right: 200px;
}

.linksone {
    display: flex;
    margin: 10px;
    color: white;
    margin-right: 200px;
}

.sectiontwo {
    padding: 20px 0px;
    margin:  0px 200px;
    justify-content: space-between;
}

.placeholder2 {
    padding: 20px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 75px;
    height: 75px;
    display: flex;
}

.list2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeholder2text {
    text-align: center;
    width: 75px;
    font-size: 10px;
    padding-top: 5px;
}

h2 {
    text-align: center;
}

.linkstwo {
    display: flex;
    padding-left: 0px;
    justify-content: space-evenly;
}

li {
    list-style: none;
    padding-left: 10px;
}